.custom-block.danger,
.custom-block.tip,
.custom-block.warning {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}
.custom-block.warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}
.note {
  padding: 0.7rem;
  border-left: 0.45rem solid;
  border-radius: 0.35rem;
}
.note-primary {
  background-color: #f5f0fa;
  border-color: #6f42c1;
}
.note-secondary,
note-default {
  background-color: #f7f7f7;
  border-color: #777;
}
.note-success {
  background-color: #eff8f0;
  border-color: #5cb85c;
}
.note-danger {
  background-color: #fcf1f2;
  border-color: #d9534f;
}
.note-warning {
  background-color: #fdf8ea;
  border-color: #f0ad4e;
}
.note-info {
  background-color: #eef7fa;
  border-color: #428bca;
}
.note-light {
  background-color: #fefefe;
  border-color: #0f0f0f;
}
.markdown-body code {
  color: #c7254e;
}
